<div class="header">
  <h2 class="title">Flight Search</h2>
</div>

<form (ngSubmit)="search()" #ngForm="ngForm" roundtrip>
  <div class="form-group">
    <label>From:</label>
    <input
      [(ngModel)]="from"
      name="from"
      city="Berlin,Dortmund,London"
      class="form-control"
    />
    @if (ngForm.form.controls["from"]) {
      <app-city-error [ac]="ngForm.form.controls['from']" />
    }
  </div>
  <div class="form-group">
    <label>To:</label>
    <input
      [(ngModel)]="to"
      [disabled]="ngForm.controls['from'].value === 'Berlin'"
      name="to"
      city
      required
      class="form-control"
    />
    @if (ngForm.form.controls["to"].hasError("city")) {
      <div class="error">
        Diese Stadt ist nicht erlaubt. Erlaubt sind:
        {{ getError("to", "city") }}
      </div>
    }
    <pre>{{ ngForm.form.controls["to"].toString() | json }}</pre>
  </div>

  <div class="form-group">
    <pre>{{ ngForm.errors | json }}</pre>

    @if (ngForm.form.valid) {
      <button class="btn btn-default" [disabled]="!ngForm.form.valid">
        Search
      </button>
    }
  </div>
</form>

<p>Aktuelle Suche nach: {{ to }}</p>

@if (flights().length > 0) {
  @for (f of flights(); track f.id) {
    <app-flight-card [flight]="f" [(selected)]="basket[f.id]" />
  }
}

@let message = message$ | async;
@if (message) {
  <p>{{ message }}</p>
}
