@if (!auth.userName) {
<h1>Welcome!</h1>
} @else {
<h1>Welcome {{ auth.userName }}!</h1>
}

<button (click)="auth.login('Max')" class="btn btn-default">Login</button>
<button (click)="auth.logout()" class="btn btn-default">Logout</button>


<form [formGroup]="formGroup">
  <input formControlName="from" type="text" placeholder="von">
  <input formControlName="to" type="text" placeholder="nach">

  <button (click)="refresh()" class="btn btn-default">Refresh</button>
</form>

<p *ngIf="online$ | async as online">Anwendungsstatus: {{online.value ? 'online' : 'offline' }}</p>

<!--<p *ngIf="flights$ | async as flights">Gefunden Flüge {{ flights.length }}</p>-->
<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Date</th>
  </tr>
  <p *ngIf="loading">Lade...</p>
  <tr *ngFor="let flight of flights$ | async">
    <td>{{ flight.from }}</td>
    <td>{{ flight.to }}</td>
    <td>{{ flight.date | date }}</td>
  </tr>
</table>


